.App {
  text-align: center;
  height:100vh;
}

hr.animated {
  width: 80px;
  animation: expand 4s ease-in-out;
}

@keyframes expand {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}