.App {
  text-align: center;
  /* height:100vh; */
  background-color: black;
  /* max-height: "100vh" ;                              */
 
}
html{
  background-color: black;
}

hr.animated {
  width: 500px;
  animation: expand 4s ease-in-out;
 
  
 
}

@keyframes expand {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}


