.App {
  text-align: center;

  background-color: rgba(20,20,20);
                          
 
}
html{
  background-color: rgba(20,20,20);
}

hr.animated {
  width: 500px;
  animation: expand 4s ease-in-out;
 
  
 
}

@keyframes expand {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}


