/* Universal Styles */
/* ---------------------------------------------- */
*, html{
  margin:0;
  padding:0;
  box-sizing: border-box;
 }
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100vw;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.flex-row-between{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-row-around{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow:100% 
}

a{color:white;}

  

ul{width: 50vw;}
.center {
  margin: auto;
  width: 60%;

  padding: 10px;
}
@media only screen and (max-width: 1140px) {
  ul{
    width:80vw;
  }
}
@media only screen and (max-width: 770px) {
.collapse.in{
position: absolute;
 margin-top: 10vh;
 font-size: larger;
}
}

.inputStyle:focus {
  width:100%
}



/* Home Page Styles */
/* ---------------------------------------------- */

.content-wrapper{
display:flex;
}
#main-content{
  width:100vw;
  height:80vh;
  padding:0;

}
#footer{
  background-color: black;
  color:white;
}
#footer, #header{
  height:10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#main-content-image{
  padding:.5rem;
  background: linear-gradient(rgba(83, 82, 5, 0.356), rgba(94, 6, 102, 0.267), rgba(50, 9, 59, 0.993)),url("./components//Views/images/sun.gif");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0;
  color:white;
  padding:0;
}




/* Home Page 2 Styles */
/* ---------------------------------------------- */

.content-wrapper2{
  background: linear-gradient(rgba(217, 249, 252, 0.849), rgba(230, 206, 250, 0.849)),url('./components//Views/images/pexels-photo-3184454.jpeg');
}
#header2{
  background-color: white;
  height:'100vh'
}
.picOfMe{
  background-image: url("./components/Views/images//IMG_20200229_161323\ \(1\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

#footer2{
  height:10vh;
}

/* Navigation Bar Styles */
  /* ---------------------------------------------- */

/* #navId{
  color:white;
  background-color: black;
  height:10vh;
} */

/* #myNavbar{
  background-color: black;
  width:100vw;
  } */
/* 
.container{
  max-width: 80vw;
  padding: 0 2rem;
  margin: 0 auto;
} */
/* ul{
  display: flex;
  flex-direction: row;
  width:80vw;
} */

h1, .title{
  margin-top:12.5vh;
  letter-spacing: .2em;
  font-weight:900;
  -webkit-text-stroke: 1px white;
  /* -webkit-text-fill-color: transparent; */
  /* margin-bottom:3vh; */
}

  @media only screen and (max-width: 480px) {
    h1,.title{
      margin-top:7.5vh;
     
    }
    }
.overlay{
  background-color: transparent;
}


.Contact{
  background: linear-gradient(rgba(5, 87, 83, 0.616), rgba(12, 6, 90, 0.582), rgba(81, 4, 100, 0.555)),url("./components//Views/Contact//ContactImages/IMG_20201206_153507.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-li{
  color: white;
}
#weather_card{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}
#projectBG{
  background-size: cover;
  background-image: url('./components/Auth/AuthImages/cloudsgif.gif');
  background-repeat: no-repeat;
}

/* Glow Button Effects */
  /* ---------------------------------------------- */

.glow-button:hover:active {
  color: rgb(255, 251, 245);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.87);
}
.chi{
  text-decoration: none;
}
.chi :active{
  color: #FFFFFF;
  text-shadow:  #971455c5 0px 0px 10px, #ce1b74af 0px 0px 15px, #bd1569bb 0px 0px 20px, #b31664be 0px 0px 25px, #b1045bbe 0px 0px 38px;
}
.chi:hover{
  color: #FFFFFF;
  text-shadow: #FF2D95 0px 0px 10px, #FF2D95 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 25px, #FF2D95 0px 0px 38px;
}

/* Homeslides Button */
  /* ---------------------------------------------- */
  .btncontainer {
    padding-top:12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .animated-word {
  
    font-family: Helvetica;
    font-size: 30px;
    text-align: center;
    color: #f5f5f5;
    cursor: pointer;
    max-width: 600px; 
    outline: 3px solid;
    outline-color: rgba(13, 49, 121, 0.5);
    outline-offset: 8px;
    transition: all 1500ms cubic-bezier(0.2, 0, 0, 0.8);
  }
  
  .animated-word:hover {
    color: rgba(71, 126, 232, 0.7);
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 300px;
  }


/* Weather Component Styles */
  /* ---------------------------------------------- */

.weather-div{
  background-image: linear-gradient(rgba(255, 238, 142, 0.637),rgba(114, 136, 72, 0.637),rgba(27, 58, 36, 0.61));
  height:80vh; 
  background-repeat: no-repeat;
  background-size: cover;
  padding:2em;
}
.weather-wrapper{
  height:72vh;
  background:linear-gradient(rgba(0, 0, 0, 0.658),rgba(128, 128, 128, 0.658), rgba(255, 255, 255, 0.644))
}
.weatherInput{
  background-color: rgba(0, 0, 0, 0.685);
  width:78vw;
  margin:0 auto;
  padding:2vh;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height:15vh;
}
.weather__info{
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.685);
  width:78vw;
  margin:0 auto;
  margin-top: 4vh;
  height:50vh;
}
.form-btn {
  background: transparent; 
  width: 130px;
  height: 40px;
  border:none;
 }
input,input:focus{
  border-style: none; 
  background: transparent; 
  outline: none;
  color:white;
  width:27vw;
  height:3vh;  
  padding:2.5vh;
  border-bottom: 1px solid white;
  font-size: 2.5vh;
  font-weight: bolder;
  }

  /* To Do Styles */
    /* ---------------------------------------------- */
  

  .completed{
    text-decoration: line-through;
    opacity:.5;
  }

  /* Projects Page Styles */
  /* ---------------------------------------------- */
.slider{
    height:80vh !important;
  }
.slid{
    width:100vw;
    height:80vh ;
  }

#slide-div{
  background-color: rgba(0, 0, 0, 0.685);
}

#projects-div-main{
  background-color: rgba(255,255,255,0.8);
  }

.slide{
  overflow:scroll !important;
}
/* Animations and Transitions*/
/* ---------------------------------------------- */

#colorBG {
  background: linear-gradient(270deg, #0697add7, #04963cb6, #a85c04be, #94089eaf);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 22s ease infinite;
  -moz-animation: AnimationName 22s ease infinite;
  animation: AnimationName 22s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.svg .button {
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  width: 130px;
  height: 40px;
  overflow: hidden;
 }
.svg .button rect {
  position: absolute;
  top: 0;
  left: 0;
  stroke-width: 4px;
  stroke-dashoffset: 400px;
  stroke: olivedrab;
}
.svg .button span {
  color: olivedrab;
  width: 130px;
  height: 40px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 40px;
  transition: all .2s linear;
}
.svg .button span:hover {
  color: #fff;
  background: olivedrab;
  transition: all 1s cubic-bezier(1.25s 0, 1.15, 1, 1);
  transition-delay: .5s;
}
.svg .button:nth-child(1):hover rect {
  animation: draw1 .75s linear forwards;
}
@keyframes draw1 {
  0% {
      stroke-dasharray: 300;
      stroke-dashoffset: 700;
      stroke-width: 4px;
  }
  75% {
      stroke-dasharray: 900;
      stroke-width: 1px;
  }
  100% {
      stroke-dasharray: 900;
      stroke-width: 1px;
  }
}

