*, html{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  
}
/* filter: invert(100%); */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.content-wrapper{
display:flex;
}
.content-wrapper2{
  background: linear-gradient(rgba(217, 249, 252, 0.849), rgba(230, 206, 250, 0.849)),url('../src//components/pexels-photo-3184454.jpeg');

}
#main-content{
  width:100vw;
  height:80vh;
}
#aside-content{
  width:40vw;
  height:80vh;
}

 #footer, #header{
  height:10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#navId{
  color:white;
  background-color: black;
  height:10vh;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}
.container{
  max-width: 80vw;
  padding: 0 2rem;
  margin: 0 auto;
}
ul{
  display: flex;
  flex-direction: row;
  width:80vw;
}
#main-content-image{
  padding:.5rem;
background: linear-gradient(rgba(5, 87, 83, 0.459), rgba(11, 6, 90, 0.555), rgba(81, 4, 100, 0.404)),url("./components/sun.gif");
background-repeat: no-repeat;
background-size: cover;
margin-right: 0;
color:white;
}
#main-content,#aside-content{
background-color: rgba(252, 252, 252, 0.007);
}
h1{
  margin-top:12.5vh;
  letter-spacing: .5em;
  margin-bottom:3vh;
}
.slider{
  height:80vh !important;
}
.slid{

width:100vw;
height:80vh ;
}
#footer{
  background-color: black;
  color:white;
 
}
#header2{
  background-color: white;
  height:'100vh'
}
/* #main-content2{
  background: linear-gradient(rgba(226, 247, 246, 0.849), rgba(215, 238, 255, 0.637), rgba(243, 213, 250, 0.726)),url("../src/components/pexels-photo-3184454.jpeg");
  background-repeat: no-repeat;
  width: 100vw;
  height:80vh;
} */
#footer2{
  height:10vh;
}
.overlay{
  background-color: transparent;
}
.deezNuts{
   background-image: url("./components//IMG_20200229_161323\ \(1\).jpg");
   background-size: cover;
   
   background-repeat: no-repeat;
   border-radius: 50%;
}
.Contact{
  background: linear-gradient(rgba(5, 87, 83, 0.616), rgba(12, 6, 90, 0.582), rgba(81, 4, 100, 0.555)),url("./components//IMG_20201206_153507.jpg");
  /* background-image: url("./components//IMG_20201206_153507.jpg"); */
  /* background-image: url("./components//IMG_20200229_161323\ \(1\).jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-li{
  color: white;
}
.sun2{
  width: 13em;
  height: 13em;
  background: radial-gradient(transparent,rgba(148, 49, 3, 0.726))
  , url('./components/sun2gif.gif');
  opacity: 1;
  background-size: contain;
  border-radius: 65%;
  box-shadow: 0 0 1px 1px rgba(176, 177, 134, 0.664) inset;  
  transform: translate(15%, 15%);
  /* margin:0 auto; */
  padding-top: 2em;
}
.sun-2-container{
  width: 17em;
  height: 17em;
  
  background: radial-gradient(transparent,black,rgb(0, 0, 0));


 
  margin:0 auto;
}
#weather_card{
 /* border-radius: 99rem;  */
 display: flex;flex-direction: row;
 justify-content: space-around;
}
#projectBG{
  background-size: cover;
  background-image: url('./components/cloudsgif.gif');

  background-repeat: no-repeat;
}
#myNavbar{
background-color: black;
}
.glow-button:hover:active {
  color: rgb(255, 251, 245);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.87);
}

.chi{
  text-decoration: none;
}
.chi :active{
  color: #FFFFFF;
  /* background-color: rgb(0, 0, 0); */
text-shadow:  #971455c5 0px 0px 10px, #ce1b74af 0px 0px 15px, #bd1569bb 0px 0px 20px, #b31664be 0px 0px 25px, #b1045bbe 0px 0px 38px;
}
.chi:hover{
  color: #FFFFFF;
  /* background-color: rgb(20, 27, 32); */
text-shadow: #FF2D95 0px 0px 10px, #FF2D95 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 25px, #FF2D95 0px 0px 38px;
}
#slide-div{
  background-color: rgba(0, 0, 0, 0.685);
}

.weather-div{
background-image: linear-gradient(rgba(255, 238, 142, 0.637),rgba(114, 136, 72, 0.637),rgba(27, 58, 36, 0.61)),url('./components/weathergif.gif');
height:80vh; 
background-repeat: no-repeat;
background-size: cover;
padding:2em;
}
.weather-wrapper{
height:72vh;
background:linear-gradient(rgba(0, 0, 0, 0.658),rgba(128, 128, 128, 0.658), rgba(255, 255, 255, 0.644))
}
.weather__info{
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.685);
  width:60vw;
  margin:0 auto;
  margin-top: 4vh;
 

  height:60vh;
}
#colorBG {
  background: linear-gradient(270deg, #0697add7, #04963cb6, #a85c04be, #94089eaf);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 22s ease infinite;
  -moz-animation: AnimationName 22s ease infinite;
  animation: AnimationName 22s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
#projects-div-main{
  background-color: rgba(255,255,255,0.8);
}